.btn_submit{ 
    padding: 0.5rem;
    background-color: rgb(41, 162, 99);
    color: white;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin: 0.5rem;
    border: none;
}