.btn_submit{ 
    padding: 0.5rem;
    background-color: rgb(41, 162, 99);
    color: white;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin: 0.5rem;
    border: none;
}
.cart_form{
    height: calc(100vh - 200px);
    margin-top: 20px;
}
.cart_form_div{
    justify-content: center;
    display:flex;
    flex-direction: column;
   
    form{
        display: flex;
        flex-direction: column;
       justify-content: center;
        input{
            margin: 10px 0;
            width: 50%;
            border: none;
            border-bottom: solid black 1px;

            
        }
    }  
}