

.top_part{
    display: flex;
   justify-content: center;
   background-color: white;
   margin-top: 10px;
    .top_part_h1{
        display: inline;
       
       .top_part_title{
        font-size: 1.5rem;
        font-weight: 600;
        padding-top: 30px;
        letter-spacing: 2px;
        color:black;
       }
       
    
        @media (max-width: 767px) {
            text-align: center;
            font-size: 1rem;
            font-weight: 400;
            margin: 0.4rem 0;
        }
    }
    .logo_white{
        display: inline;
        width:50px;
        margin-top: 5px;
    }
}