.btn-productDetail{
    margin: 2rem;
    .btn-increment{
        width: 2rem;
        background-color: green;
        color:white;
        border-radius: 0.5rem;
    }
    .btn-decrement{
        width: 2rem;
        background-color: green;
        color:white;
        border-radius: 0.5rem;
    }
}