.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(29, 111, 68);
    color: #91c788;
    box-sizing: border-box;

    .ul-links {
        display: flex;
        list-style-type: none;
        text-align: center;
        padding-top: 1rem;

    .item-link a {
        float: left;
        margin: 10px;
        text-decoration: none;
        color: #91c788;
        }
    }

    .logo_white {
        margin-top: 10px;
        height: 3rem;
        width: 3em;
        align-items: center;
    }
}
.nav-cart {
    align-items: center;
    display: flex;
    margin: 0;

    .in-navbar {
        width: 8.5rem;
        height: 1.5rem;
        border-radius: 0.2rem;
        border: none;
        margin-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .btn-cart {
        background-color: rgb(41, 162, 99);
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 0.2rem;
        border: none;
        align-items: center;
        margin: 0;
    }
    .logoCartNav {
        height: 1.4rem;
        padding-top: 2px;
        margin: 0;
        color: whitesmoke;
    }
}
