

.navbar {
    display: flex;
    background-color:transparent;
    color: #025918;
     margin-left: 0;
     margin-right: 0;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;  
    .navbar_logo{
        width: 2rem;
        height: 2rem;
    }

    .ul-links {
        display: flex;
        list-style-type: none;
        align-items: flex-end; 
        .item-link a {
            font-family: 'Montserrat', sans-serif;
            padding-bottom: 5px;
            margin: 0;
            font-weight: 500;
            font-size: 1rem;
            color: rgb(29, 143, 77);
            justify-content: center;
            letter-spacing: 2px;
            text-decoration: none;
            @media (max-width: 575px) {
               font-size: 0.5rem;
               letter-spacing: 1px;
               padding:0;
             }
        }
    }
 
}

.nav-cart {
    align-items: center;
    display: flex;
    margin: 0 0 2 0;
    padding: 0;

    .in-navbar {
        width: 4rem;
        height: 1.2rem;
        border-radius: 0.2rem;
        border: none;
        margin-right: 0.5rem;
        padding-left: 0.5rem;
        align-items: center;
    }

    .btn-cart {
        background-color: whitesmoke;
        height: 2.2rem;
        width: 2.2rem;
        border-radius: 0.2rem;
        border: none;
        align-items: center;
        margin: 0;
    }
    .logoCartNav {
        height: 1.4rem;
        padding-top: 2px;
        margin: 0;
        color: rgb(41, 162, 99);
    }
}
