.cartItem{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;
	align-items: center;
	align-content: stretch;
    border-radius: 10px;
    margin: 10px;
    padding:10px;
    background-color: rgba(128, 128, 128, 0.205);
}
.cart_detail{
    width:50%;
}
.Img_itemCart{
    width:150px;
    height: 150px;
    background-size: cover;
}
.btn_Remove_Item{
    height: 24px;
    background-color: rgba(170, 15, 15, 0.884);
    width: 24px;
    display: block;
    border: none;
}
.btn_Remove_Item:hover{
    transition: .5s;
    background-color: rgba(161, 12, 12, 0.884);

    
}