.footer_global {
   
    font-family: 'Montserrat', sans-serif;
}
.footer_ul {
    display: flex;
    justify-content:center;
    list-style-type: none;
}
li {
    margin: 0.5rem 1rem;
    a {
        text-decoration: none;
        color: #025918;
        font-size: 20px;
    }
     
        
 } 

.contacto_redes {
    text-align: center;
}
.copyright {
    text-align: center;
}
