import 
*{
    margin: 0;
    padding: 0 ;
  
}
/*Screen sizes*/
$xxs: 575px;
$xs: 767px;
$sm: 991px;
$md: 1200px;
$lg: 1400px;

/* Fonts */ 
$main-font: 'Roboto', sans-serif;

/* Font sizes */
$font-size-base: 16px !default;

/* Colors */
$black: #222222;
$gray:#D7D9D9;
$white: #FFFFFF;
$dark_green: #52734d;
$midle_green:#91c788;
$light_green:#ddffbc;
$white_green_smoke:#feffde;
$green:rgb(51, 71, 52);
$lightgreen:#5f9674;

$red: darkred;
/*shadow*/
$enable-shadows: box-shadow; 

